.container {
  width: 465px;
  height: 105px;
  border-radius: 30px;
  box-shadow: var(--main-shadow);
  background-color: #fff;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.container-weather-info {
  color: #fff;
  height: 760px;
  background: linear-gradient(#64B5FF, #FFFFFF);
}

.container-weather-info i {
  color: #fff;
}

.container-not-found {
  height: 450px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

@keyframes innerContentScale {
  from {
    scale: 0;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

.innerContentScale {
  animation: innerContentScale 0.5s forwards;
  animation-delay: .3s;
}
